@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

//variables
$primarryColor: #fbd214;
$titleColor:#ffffff;
$textolor:#727b86;

$hoverColor:#feb633;
$darkBg :#2b2c2c;
$lightBg:#303131;

@import '_blocks/_header.scss';


